body{
    background: white;
    color: black;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}

.container-fluid {
    position: fixed;
    width: 100%;
    background-color: #f5f5f5;
    text-align: auto;
    padding-left:10px;
    padding-top: 20px;
}

.table {
    margin-top: 10px;
    margin-left: 5px;
}

th {
    width: 55px;
}

h1 {
    margin-left: 4px;
} 

.btn {
    position: absolute;
    left: 499px;
    top: 50px;
    padding-left:10px;
}

.btn1 {
    background: white;
    left: 5px;
    top: 230px;
}

form {
   margin: 5px;
   width: 50%;
}
