.card{
    left: 350px;
}

.btn {
    position: fixed;
    left: 787px;
    top: 105px;
    padding-left:10px;
}

.btn1 {
    left: 420px;
    top: 345px;
}

.alert {
    width: 400px;
    left: 350px;
    top: 20px;
}
